openapi: 3.1.0
info:
  title: DUELLY API — RNG Verify (fragment)
  version: "0.1.0"
servers:
  - url: https://play.duelly.online/api/v2
paths:
  /rng/verify:
    get:
      summary: Verify RNG server commit
      description: >
        מחזיר את נתוני ה-commit של השרת ומצב ה-reveal. לפני חשיפה: {id, matchId, serverCommitHex, revealed=false}.
        אחרי חשיפה: מתווספים serverSeedHex ו-dice.
      parameters:
        - name: id
          in: query
          required: true
          description: RNG Commit ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RngVerifyResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
components:
  schemas:
    RngVerifyResponse:
      type: object
      required: [id, matchId, serverCommitHex, revealed]
      properties:
        id: { type: string, format: uuid }
        matchId: { type: string, format: uuid }
        serverCommitHex: { type: string, description: 'SHA-256(HMAC/seed) in hex' }
        revealed: { type: boolean }
        serverSeedHex:
          anyOf: [{ type: 'string' }, { type: 'null' }]
          description: 'מופיע רק אחרי חשיפה'
        dice:
          anyOf:
            - { type: 'null' }
            - type: array
              minItems: 2
              maxItems: 2
              items:
                type: integer
                minimum: 1
                maximum: 6
              description: 'מופיע רק אחרי חשיפה; חישוב דטרמיניסטי'
    NotFound:
      type: object
      required: [ok, error, message]
      properties:
        ok: { type: boolean, example: false }
        error: { type: string, example: NOT_FOUND }
        message: { type: string, example: 'RngCommit not found' }
